<div class="panel">

<h3>

USER INPUTS / CONTROLS

</h3>

<div class="control">

<span>

Door Status

</span>

<select>

<option>Closed</option>

</select>

</div>

<div class="control">

<span>

Brake Status

</span>

<select>

<option>Pressed</option>

</select>

</div>

<div class="control">

<span>

Ignition

</span>

<select>

<option>Start</option>

</select>

</div>

<div class="control">

<span>

Vehicle Speed

</span>

<select>

<option>45 km/h</option>

</select>

</div>

<div class="control">

<span>

Battery

</span>

<select>

<option>Healthy</option>

</select>

</div>

</div>