.log{

padding:24px;

border-radius:12px;

background:#041a2d;

border:1px solid #0f4d7f;

margin-top:16px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

color:#38b9ff;

padding:14px;

}

td{

padding:14px;

}

tr{

border-bottom:1px solid #10314f;

}